@use "./variables" as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Almarai", sans-serif;
}

nav {
    .navbar-collapse {
        form button {
            color: $color-primary !important;
            border: 2px solid $color-white !important;
            font-weight: bold !important;
            transition: all 0.3s ease-in-out !important;
            background-color: $bg-btn-dark !important;
            
           
        }
        
        form .sign {
            color: $color-secondary !important;
            border: 2px solid $color-secondary !important;
            
            &:hover {
                color: $color-secondary !important;
                border: 2px solid $color-secondary !important;
            }
        }
    }
    
  
}