@use "bootstrap";
@use "./variables" as *;

// الإعدادات العامة
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

body {
  font-family: "Almarai", sans-serif;
  background: url("../image/350c8f10-e312-4ce5-9ed8-521cda2111fd.jpg") center/cover no-repeat;
}

// شريط التنقل
nav {
  background-color: $bg-btn-dark;
   
  span {
    font-weight: 900;
    font-size: 40px;
    color: $color-white;
    font-family: "Reem Kufi Fun", sans-serif;
    
  }
  

  .navbar-collapse {
    display: flex;
    justify-content: end;
    align-items: center;

    form {
    
      button {
        color: $color-white !important;
        border: 2px solid $color-white !important;
        font-weight: bold !important;
        background-color: $bg-btn-dark !important;
        transition: all 0.3s ease-in-out !important;

        &:hover {
          background-color: $color-white !important;
          color: $color-primary !important;
          border: 2px solid $color-primary !important;
        }
      }

      .sign {
        color: $color-secondary !important;
        border: 2px solid $color-secondary !important;

        &:hover {
          color: $color-secondary !important;
          border: 2px solid $color-secondary !important;
        }
      }
    }
  }
}

// صندوق تسجيل الدخول
.wrapper {
  max-width: 350px;
  min-height: 500px;
  margin: 80px auto;
  padding: 40px 30px 30px;
  background-color: #ecf0f3;
  border-radius: 15px;
  box-shadow:
    13px 13px 20px #cbced1,
    -13px -13px 20px #fff;

  .logo {
    width: 80px;
    margin: auto;

    img {
      width: 100%;
      height: 80px;
      object-fit: cover;
      border-radius: 50%;
      box-shadow:
        0px 0px 3px #5f5f5f,
        0px 0px 0px 5px #ecf0f3,
        8px 8px 15px #a7aaa7,
        -8px -8px 15px #fff;
    }
  }

  .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
  }

  .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow:
      inset 8px 8px 8px #cbced1,
      inset -8px -8px 8px #fff;
    position: relative;

    input {
      width: 100%;
      display: block;
      border: none;
      outline: none;
      background: none;
      font-size: 1.2rem;
      color: #666;
      padding: 10px 15px 10px 10px;
    }

    .fas {
      color: #555;
    }
  }

  .btn {
    width: 100%;
    height: 40px;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 25px;
    box-shadow:
      3px 3px 3px #b1b1b1,
      -3px -3px 3px #fff;
    letter-spacing: 1.3px;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #039BE5;
    }
  }

  a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;

    &:hover {
      color: #039BE5;
    }
  }
}

// البطاقات
.card {
  background-color: $bg-btn-dark;
  border-radius: 1rem;
  box-shadow:
    8px 8px 16px rgba(0, 0, 0, 0.2),
    -8px -8px 16px rgba(255, 255, 255, 0.9);

  .brand {
    font-weight: 900;
    font-size: 50px;
    color: $color-white;
    font-family: "Reem Kufi Fun", sans-serif;
  }

  h5 {
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bold;
  }
}

// الفوتر
footer {
  background-color: $color-black-text;
  color: $color-white;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;

  p {
    font-size: 20px;
    margin: 0;
  }
}

// الميديا
@media (max-width: 380px) {
  .wrapper {
    margin: 30px 20px;
    padding: 40px 15px 15px;
  }
}
