@use "bootstrap";
@use "./variables" as *;
@use "./mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Almarai", sans-serif;
}

nav {
  background-color: rgba(35, 34, 34, 0.37);
  transition: background-color 0.5s ease-in-out;

  &.scrolled {
    background-color: rgba(35, 34, 34, 0.708);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.06);
  }

  span {
    font-weight: 900;
    font-size: 40px;
    color: $color-white;
    font-family: "Reem Kufi Fun", sans-serif;
  }
   @media (max-width: 768px){
      span{
        font-size: 30px;
      }
      img{
        width: 50px !important;
      }
    }

  .navbar-collapse {
    display: flex;
    justify-content: end;
    align-items: center;
    

      form {
      button {
        @include button($bg-btn-dark, #ffffff, );
        &:hover a{
        color: $color-primary !important;
  } 
      }

      .sign {
        border: 2px solid $color-secondary !important;

        a {
          color: $color-secondary !important;
        }

        &:hover{
          color: $color-secondary !important;
          border: 2px solid $color-secondary !important;
        }
        &:hover a {
          color: $color-secondary !important;
        }
      }
       
    }
  }
   @media (max-width: 768px){
          .navbar-collapse{
           padding: 10px 0 ;
           justify-content: space-around;
          }
        }
}

header {
  position: relative;
  filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.614));


  img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    border-bottom: 2px solid rgb(69, 65, 65);
    filter: blur(3px);
    position: relative;
  }

  .text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: $color-white;
    max-width: 90%;

    h1 {
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 30px;
      text-shadow: 2px 2px 5px #000000;
    }

    p {
      font-size: 25px;
      text-shadow: 2px 2px 5px #000000;
    }
  }
}
.alt{
  background: url(../image/350c8f10-e312-4ce5-9ed8-521cda2111fd.jpg);
   background-attachment: fixed;
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  overflow: hidden;
   width: 100%;
  min-height: 90vh;
  h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 70px 0;
  }
}

@media (max-width: 768px) {
  header {
    img {
      height: 70vh;
    }

    .text {
      max-width: 95%;
      font-size: 14px;
      padding: 10px;

      h1 {
        font-size: 28px;
      }

      p {
        font-size: 19px;
        
      }
    }
  }
}
@media (max-width: 768px) {
  .alt{
    img{
      height: 40vh;
    }
  }
}

.custom-carousel {
  margin: 50px 0 70px 0;
  border-radius: 20px;
  overflow: hidden;
  max-height: 50vh;
  filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.614));
  position: relative;

  img {
    height: 50vh;
    object-fit: cover;
    transition: transform 4s ease, filter 0.5s ease;
    filter: brightness(0.8);
  }
  
  .carousel-item.active img {
    transform: scale(1.1);
    filter: brightness(1);
  }

  
  .carousel-caption {
    background-color: rgba(255, 255, 255, 0.459);
    color: #000;
    border-radius: 10px;
    padding: 10px 15px;
    backdrop-filter: blur(10px);
    animation: fadeUp 1s ease forwards;
    opacity: 0;

    h5 {
      font-size: 20px;
      font-weight: bold;
      text-shadow: 2px 2px 5px #00000084;
    }

    p {
      font-size: 17px;
      text-shadow: 2px 2px 5px #00000084;
    }
  }

  .carousel-item.active .carousel-caption {
    opacity: 1;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    padding: 18px;
    backdrop-filter: blur(8px);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .carousel-control-prev-icon:hover,
  .carousel-control-next-icon:hover {
    background-color: rgba(255, 255, 255, 0.6);
    transform: scale(1.1);
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 7%;
  }

  .carousel-indicators .active {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes fadeUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}



footer {
  background-color: $color-black-text;
  color: $color-white;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 20px;
    margin: 0;
  }
}
